<% provide(:title, "| About") %>
<div class="donut-strip"></div>
<h1>Our Story</h1>
<p>In a world that is stuffed to the gills with sweet shops and fat foods we wanted to go beyond sprinkles and cream cheese frosting. We like to amp things up with fresh, seasonal ingredients and a menu that beckons you to ask, “And is that all on a donut?!” To which we reply, yes, it certainly IS all on a donut.</p>

<p>DonutHut is a new company that is all about delighting customer with the freshest and softest donuts in town, at any time of the day. The first 24 hours, 7 days a week Donut shop able to satisfy every taste and diet exigence offering vegan and gluten free donuts. Not only for those with a sweet tooth but also for those who like savoury treat we got some flavours to surprise them.</p>

<p>With 12 delicious signature donuts flavours, DonutHut give the options to our clients to avoid the hassle of waiting for an order to be prepped by offering a click and collect service.</p>