<% provide(:contentClass, "main-content--home") %>

<h1 class="text-shadow">Our donuts are made fresh throughout the day</h1>

<h2 class="text-shadow">Choose an order option:</h2>

<div class="order-options">
    <ul>
        <li><%= link_to 'Collection', items_path %></li>
        <li><%= link_to 'Delivery', items_path %></li>
    </ul>
</div>