<% provide(:title, "| Thank you!") %>
<div class="donut-strip"></div>
<h1>Thank you for your purchase</h1>
<p style="text-align: center;">We have received your order and will process it now!</p>
<p style="text-align: center;">If you require any assistance, please contact us on 01 123 4567.<br>We will be in touch when your order is ready.</p>