<% if user_signed_in? && current_user.admin? %>
    <h1>User list</h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% else %>
    <p>You don't have permission to access this section</p>
<% end %>
